.App {
  /* display: grid; */
  text-align: center;
  font-family: 'Handlee', cursive;

  background-image: url('https://www.desktopbackground.org/download/o/2012/09/22/456698_banana-leaf-wallpapers-design-martinique-for-the-beverly-hills_3603x2161_h.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  color: orange;
}

.AppContainer {
  /* background-color: blue; */
  margin: 0px 150px 0px 150px;
  padding: 5px 0px 5px 0px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: stretch;
}

/* Shared Navbar and Footer Attributes */
.link {
  color: orange;
}
/* .link:hover {
  -webkit-filter: drop-shadow(8px 8px 10px #FF00FF);
  filter: drop-shadow(8px 8px 10px #FF00FF)
} */
